modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "postgresql"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
EXTERNAL_DB_HOST = "176.53.161.247"
EXTERNAL_DB_PORT = "5432"
EXTERNAL_DB_NAME = "default_db"
EXTERNAL_DB_USER = "gen_user"
EXTERNAL_DB_SCHEMA = "esoteric_planner"
RUSENDER_FROM_EMAIL = "klimova@magic-content.ru"
PRODAMUS_URL = "https://Kati-klimovaa.payform.ru"

[deployment]
build = ["npm", "run", "build"]
run = ["node", "dist/prod-entry.cjs"]
deploymentTarget = "vm"
ignorePorts = true
